@media screen and (min-width: 1024px) {

    .banner {
        padding: 5em 0;
      }
    .banner__titulo {
      font-size: 36px;
    }
  
    .banner__pesquisa {
      width: 35%;
    }
  
    .banner__pesquisa::placeholder {
        background-position: 12em;
      }
  }